.advantages__item-text-container {
  background-color: @blue;
  color: @white;
}

.advantages__title {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item-title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  color: @black-0;
}

.advantages__item-title--white {
  color: @white;
}

.advantages__item--basic-info {
  background-color: @grey;
}

.advantages__item-description {
  margin: 0;
}

.advantages__item-image {
  display: block;
}
