.main-container__intro-image {
  width: 320px;
  height: 389px;
  background-image: url("../../img/intro-image.png");
  padding-left: 19px;
  padding-top: 90px;
  box-sizing: border-box;
  background-color: rgba(87, 105, 177, 1);
}

