.main-container {
  flex-grow: 1;
}

.main-container__intro-image-container {
  min-height: 389px;
  width: 320px;
  background-image: url("../img/intro-image-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  background-color: rgba(87, 105, 177, 1);
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    width: 768px;
    min-height: 518px;
    margin-bottom: 47.5px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    width: 1200px;
  }
}

.main-container__intro-image-container--cutten {
  @media (max-width: 767px) {
    padding-top: 10px;
    margin-top: 56px;
  }
}

.main-container__intro-image {
  width: 282px;
  height: 214px;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.main-container__main-title {
  margin: 0 auto;
  margin-bottom: 35px;
}
