.main-container__intro-image {
  min-height: 389px;
  max-width: 320px;
  min-width: 320px;
  background-image: url("../img/intro-image.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 90px;
  box-sizing: border-box;
  background-color: rgba(87, 105, 177, 1);
  margin: 0 auto;
  margin-bottom: 32px;
}

.main-container__main-title {
  margin: 0 auto;
  margin-bottom: 35px;
}
