.tourist-list {
  list-style-type: none;
  padding: 0;
}

.tourist-list__item {
  padding-left: 66px;
  padding-right: 19px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
}

.tourist-list__item:last-of-type {
  margin-bottom: 0;
}

.tourist-list__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black-0;
  margin: 0;
  margin-bottom: 16px;
}

.tourist-list__item-description {
  margin: 0;
}
