.button {
  background-color: @blue;
  color: @white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 49px;
  border: none;
  text-align: center;
  display: block;
  text-decoration: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
