.main-nav {
  font-weight: 700;
  color: #000000;
}

.main-nav__toggle {
  width: 22.9px;
  height: 22px;
  border: none;
  background-color: inherit;
  background-image: url("../../img/toggle-1.svg");
}

.main-nav__toggle:hover {
  cursor: pointer;
}
