.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-list__item {
  height: 26px;
  margin-top: 17px;
  margin-bottom: 12px;
}

.site-list__link {
  text-decoration: none;
  font-weight: 700;
  display: block;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

