.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: @blue;
  padding-top: 17px;
  box-sizing: border-box;
}

.social__link--tg {
  padding-top: 15px;
}

.social__icon {
  fill: @white;
  display: block;
  margin: auto;
}
